<mat-card appearance="outlined" class="content" *ngFor="let skill of data.skills">
  <mat-card-header>
    <mat-card-title>{{ skill.title }}</mat-card-title>
    <mat-card-subtitle>{{ skill.percentage }} %</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <section class="example-section">
      <mat-progress-bar
              mode="determinate"
              value="{{ skill.percentage }}"
              color="warn"
      ></mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>
