<mat-card>
  <mat-card-header>
    <mat-card-title>About Me</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group dynamicHeight>
      <mat-tab label="{{ data.dateOfBirthTitle }}">
        <div class="example-small-box mat-elevation-z4">
          {{ data.dateOfBirthValue }}
        </div></mat-tab
      >
      <mat-tab label="{{ data.emailTitle }}"
        ><div class="example-small-box mat-elevation-z4">
          {{ data.emailValue }}
        </div></mat-tab
      >
      <mat-tab label="{{ data.phoneTitle }}"
        ><div class="example-small-box mat-elevation-z4">
          {{ data.phoneValue }}
        </div></mat-tab
      >
      <mat-tab label="{{ data.addressTitle }}">
        <div class="example-large-box mat-elevation-z4">
          {{ data.addressValue }}
        </div></mat-tab
      >
      <mat-tab label="{{ data.languageTitle }}">
        <div class="example-small-box mat-elevation-z4">
          {{ data.languageValue }}
        </div></mat-tab
      >
    </mat-tab-group>
  </mat-card-content>
</mat-card>
