<mat-expansion-panel
        [expanded]="true"
        *ngFor="let item of certificationDetails"
>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <a href="{{ item.linkDetail.link }}" target="_blank">{{
                item.linkDetail.title
                }}</a>
        </mat-panel-title>
        <mat-panel-description *ngIf="item.website">
            <div class="content">Website : {{ item.website }}</div>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <h3 *ngIf="item.instructor">Instructor : {{ item.instructor }}</h3>
</mat-expansion-panel>