<mat-vertical-stepper>
  <mat-step
    *ngFor="let job of data.jobs"
    label="{{ job.company }}"
    state="work"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ job.jobTitle }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ job.period }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="content">
          <h4>{{ job.description }}</h4>
          <ul *ngFor="let skill of job.skills">
            <li>{{ skill }}</li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-step>
  <mat-step label="" state="work"></mat-step>
</mat-vertical-stepper>
